<h1 class="blogtitle"><a href="/">Metagame</a></h1>
<input type="checkbox" id="nav-toggle" />
<label class="hamburger" for="nav-toggle" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</label>
<nav>
    <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/s01/">Season-One</a></li>
        <li class="nav-item"><a href="/posts/2025-01-09-default-apps-for-2025/">Defaults</a></li>
        <li class="nav-item"><a href="/blogroll/">Blogroll</a></li>
        <li class="nav-item"><a href="/feed/feed.xml">RSS</a></li>
        <li class="nav-item"><a href="/about/">About</a></li>
    </ul>
</nav>