{% set  numberOfLatestPostsToShow = 7 %}

{% set postsCount = collections.long | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Longform Articles</h3>
<a href="/feed/long.xml">Long articles RSS feed</a>

{% set postslist = collections.long | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}