{% set  numberOfLatestPostsToShow = 10 %}

{% set postsCount = collections.long | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Longer Articles</h2>
<a href="/feed/long.xml">Articles RSS feed</a>

{% set postslist = collections.long | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}