{% set  numberOfLatestPostsToShow = 10 %}

{% set postsCount = collections.short | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Short Updates</h3>
<a href="/feed/short.xml">Short updates RSS feed</a>

{% set postslist = collections.short | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}