---
layout: layouts/layout.html
---
{% include "main-page-hero.html" %}
<div class="blog-feed-container">
    <div class="blog-feed">
        {% include "longlist.njk" %}
        <a href="/archive/">Archive: see all articles</a>
    </div>

    <div class="blog-feed">
        {% include "shortlist.njk" %}
        <p style="text-align:right"><a href="/updatefeed/">Full newsfeed</a></p>
    </div>
</div>