---
layout: layouts/layout.html
eleventyImport:
    collections: ["post"]
---

<div class="blog-feed-container">
    <div class="blog-feed">
        <h1>Latest 3 Longform Articles</h1>
        <p>Classic blog posts, long reads, and articles.</p>
        {% for post in collections.long limit:2 %}
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <p>Published: {{ post.date | date: "%d %B %Y" }}</p>
            <p>{{ post.templateContent }}</p>
        {% endfor %}
    </div>

    <div class="blog-feed">
        <h1>Latest 3 Short Updates</h1>
        <p>Short updates that would typically go on social media, link posts, and comments.</p>
        {% for post in collections.short limit:2 %}
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>Published: {{ post.date | date: "%d %B %Y" }}</p>
        <p>{{ post.templateContent }}</p>
        {% endfor %}
    </div>
</div>

{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>Page {{ forloop.index }}</a></li>
{%- endfor %}