---
layout: layouts/layout.html
title: Archive
---

<h1>All Updates</h1>
<a href="/feed/short.xml">Short updates RSS feed</a><br/>
<a href="https://mastodon.social/@caladan">Follow on Mastodon</a><br/>
<a href="https://bsky.app/profile/metagame.hk">Follow on Bluesky</a><br/>
{% set showYear = true %}
{% set postslist = collections.short %}
{% include "postslist.njk" %} 